$color: (
  gray1: #E0E0E0,
  gray2: #A8A8A8,
  gray3: #707070,
  gray4: #383838,
  gray5: #000000,
  accent1: #9BC7A2,
  accent2: #80FF95,
  accent3: #00FF2B,
  accent4: #296633,
  accent5: #2C382E
);

$size: (
  lg: 1920px,
  md: 1440px,
  sm: 1024px,
  xs: 576px
);

$nRem: 0.0625rem;